body{
  background-color: #F5F5F5;
}
.card {
  width: 400px;
  height: 400px;
  text-align:center;
  display: inline-block;
  margin: 25px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .6s ease-out;
  box-shadow: .8px .9px 3px grey;
  cursor: pointer;
}
.card:hover{
  box-shadow: 1px 8px 20px grey;
  -webkit-transition:  box-shadow .6s ease-in;
}
.description {
  font-size: 30px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  text-align: center;
}
.card:hover .description {
  opacity: 1;
}
.images{
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.page{
  margin-left: 40px;
  margin-right: 40px;
}